= form_for article_form, url: polymorphic_path(article_form.article) do |f|
  - if article_form.errors.any?
    #error_explanation
      %h2= "#{pluralize(article_form.errors.count, "error")} prohibited this article from being saved:"
      %ul
        - article_form.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :body
    = f.text_area :body
  .field
    = f.check_box :category1
    = f.label article_form.category1_label
  .field
    = f.check_box :category2
    = f.label article_form.category2_label
  .field
    = f.check_box :category3
    = f.label article_form.category3_label
  .actions
    = f.submit 'Save'
