<!DOCTYPE html>
<html>
  <head>
    <title>Oop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if @current_user %>
        <p><%= @current_user.name %>さんでログインしています。| <%= link_to "ログアウト", logout_path, method: :delete %></p>
      <% end %>
    </header>
    <% if flash.present? %>
      <ul>
        <% flash.each do |kind, message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <%= yield %>
  </body>
</html>
